{% extends 'base.html' %}
{% load cloudinary %}

{% block content %}

<div class="tattoopost-detail">
    <div class="post">
        <div class="card-detail">
            <div class="card-img-top">{% cloudinary post.image %}</div>
            <div class="card-body">
                <p class="card-text">{{ post.title }}</p>
                <p class="card-text">{{ post.body }}</p>
                <p class="card-text">{{ post.date }}</p>
                <p class="card-text">{{ post.author }}</p>
            </div>
            {% if profile == post.author %}
                <a class="btn btn-primary btn-sm mt-1 mb-1" href="{% url 'tattooposts:post_update' post.slug %}">Update</a>
                <a class="btn btn-danger btn-sm mt-1 mb-1" href="{% url 'tattooposts:tattoopost_confirm_delete' post.slug %}">Delete</a>
            {% endif %}
        </div>
    </div>
</div>


{% endblock %}