{% extends 'base.html' %}
{% load cloudinary %}


{% block content %}
    <h1>BOOO YAAA</h1>
    <div class="tattooposts">
        {% for tattoopost in tattooposts %}
            <div class="post">
                <h2>
                    <a href="#">{{ tattoopost.title}}</a>
                </h2>
                <p>{{ tattoopost.info }}</p>
                <p>{{ tattoopost.date }}</p>
                <p>{% cloudinary tattoopost.image %}</p>
            </div>
        {% endfor %}
    </div>
{% endblock %}