{% extends 'base.html' %}
{% load cloudinary %}

{% block content %}

<div class="tattoopost-detail">
    <div class="post">
        <div class="card">
            <div class="card-img-top" alt="User posts">{% cloudinary post.image %}</div>
            <div class="card-body">
                <a class="card-text " href="#">{{ post.title }}</a>
                <a class="card-text" href="#">{{ post.body }}</a>
                <a class="card-text" href="#">{{ post.date }}</a>
                <a class="card-text" href="#">{{ post.author }}</a>
            </div>
        </div>
    </div>
</div>


{% endblock %}