{% extends 'base.html' %}
{% load cloudinary %}


{% block content %}
<div class="tattooposts">
    <h1 class="centeralign slogan mt-5">Welcome to Body Beauty, where the easel is your skin.</h1>
    {% if user.is_authenticated%}
    <a class="add-art m-4" href="{% url 'tattooposts:tattoo_post_create' %}">Click here to add your art!
        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-arrow-right-circle" viewBox="0 0 16 16">
            <path fill-rule="evenodd" d="M1 8a7 7 0 1 0 14 0A7 7 0 0 0 1 8zm15 0A8 8 0 1 1 0 8a8 8 0 0 1 16 0zM4.5 7.5a.5.5 0 0 0 0 1h5.793l-2.147 2.146a.5.5 0 0 0 .708.708l3-3a.5.5 0 0 0 0-.708l-3-3a.5.5 0 1 0-.708.708L10.293 7.5H4.5z"/>
        </svg>
    </a>
    {% endif %}
    <div class="post">
        {% for tattoopost in tattooposts %}
        <div class="card shadow-lg">
            <div class="card__header">
                <div class="card-image" >{% cloudinary tattoopost.image %}</div>
            </div>
            <div class="card__body">
                <a class="text-decoration-none" href="{% url 'tattooposts:tattoopost_detail' slug=tattoopost.slug %}">
                    <h4>{{ tattoopost.title }}</h4>
                </a>
                <p class="gallery-bio-text">{{ tattoopost.info|truncatechars:75 }}</p>
            </div>
            <div class="card__footer">
                <div class="user">
                    <img src="{{ tattoopost.author.profile_image.url }}" class="user__image">
                    <div class="user__info">
                        <h5>{{ tattoopost.author }}</h5>
                    </div>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
</div>
{% endblock %}