{% extends 'base.html' %}
{% load cloudinary %}


{% block content %}
    <div class="tattooposts">
        <h2>
            test
        </h2>
        <div class="post">
            <div class="container d-flex justify-content-left">
                        {% for tattoopost in tattooposts %}
                        <div class="card" style="width: 18rem;">
                            <div class="card-img-top tattoocardimg" alt="User posts">{% cloudinary tattoopost.image %}</div>
                            <div class="card-body">
                                <h4 class="card-text">{{ tattoopost.title}}</h4>
                                <p>{{ tattoopost.info }}</p>
                            </div>
                          </div>
                    {% endfor %}
            </div>
        </div>
    </div>
{% endblock %}