/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v8.4.12,
* Autoprefixer: v10.4.4
* Browsers: last 4 version
*/

@import url('https://fonts.googleapis.com/css2?family=Dancing+Script&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Comic+Neue:wght@300&display=swap');

html, body { height: 100%;}

body > footer {
  position: sticky;
  top: 100vh;
}

body {
    font-family: 'Comic Neue', cursive;
    color: white;
    background-color: slategray;
}

.hero {
    width: 100%;
    overflow: hidden;
}

.slogan {
    color: white;
    font-family: 'Dancing Script', cursive;
}

#div_id_profile_image div *:not(:last-child){
    display: none;
}

.tattooposts {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;    
    -webkit-box-pack: center;    
        -ms-flex-pack: center;    
            justify-content: center;
    text-align: center;
}
/* profile styles */

.profile-text {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;    
    -webkit-box-pack: center;    
        -ms-flex-pack: center;    
            justify-content: center;
    text-align: center;
}

.account_image {
    margin-top: 20px;
    margin-bottom: 20px;
}

.img-thumbnail {
    max-width: 25%;
}

.profile-image {
    width: 20%;
    margin-left: auto;
    margin-right: auto;
    display: block;
}

.my-profile {
    position: absolute;
    float: right;
}


.asteriskField {
    display: none;
}

#hint_id_username {
    display: none;
}

#hint_id_password2 {
    display: none;
}

.create-a-post {
    color:slategray;
    border: 2px;
    text-decoration: none;

}

.text-muted1 {
    color: white;
    text-decoration: none;
}

.signup li {
    color: white;
}

.wrapper {
    font-family: 'Comic Neue', cursive;
    max-width: 100%;
    margin: 0 auto;
}


.homepage-text {
    font-family: 'Comic Neue', cursive;
    margin-top: 20px;
    margin-bottom: 20px;
}

.line {
    border: red 20px;
}

.centeralign {
    width: 100%;
    margin-top: 20px;
    text-align: center;
}


.footer {
    text-align: center;
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    color:rgb(138, 151, 163);
}

.footer > li {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
}


.post {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    gap: 1rem;
}

.container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    max-width: 1200px;
    margin-block: 2rem;
    gap: 2rem;
}
  
img {
    -o-object-fit: cover;
       object-fit: cover;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    width: 100%;
}

.add-art {
    width:100%;
    text-decoration: none;
    color: white;
    text-align: center;
}
  
.card {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    width: clamp(20rem, calc(20rem + 2vw), 22rem);
    overflow: hidden;
    -webkit-box-shadow: 0 .1rem 1rem rgba(0, 0, 0, 0.1);
            box-shadow: 0 .1rem 1rem rgba(0, 0, 0, 0.1);
    border-radius: 1em;
    background: #ECE9E6;
    background: -webkit-gradient(linear, left top, right top, from(#FFFFFF), to(#ECE9E6));
    background: -o-linear-gradient(left, #FFFFFF, #ECE9E6);
    background: linear-gradient(to right, #FFFFFF, #ECE9E6);
    max-height: 500px;
  }
  
.card-body {
    text-align: center;
}
.card__header {
    height: 50%;
}
  
.card__body {
    padding: 1rem;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    gap: .5rem;
    color: grey;
    overflow: hidden;
}
  
.card-image {
    max-width: 100%;
    height: 100%;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
}  

.tag {
    -ms-flex-item-align: start;
        align-self: flex-start;
    padding: .25em .75em;
    border-radius: 1em;
    font-size: .75rem;
}
  
.tag + .tag {
    margin-left: .5em;
}
  
.tag-blue {
    background: #56CCF2;
    background: -webkit-gradient(linear, left top, left bottom, from(#2F80ED), to(#56CCF2));
    background: -o-linear-gradient(top, #2F80ED, #56CCF2);
    background: linear-gradient(to bottom, #2F80ED, #56CCF2);
    color: #fafafa;
}
  
.tag-brown {
    background: #D1913C;
    background: -webkit-gradient(linear, left top, left bottom, from(#FFD194), to(#D1913C));
    background: -o-linear-gradient(top, #FFD194, #D1913C);
    background: linear-gradient(to bottom, #FFD194, #D1913C);
    color: #fafafa;
}
  
.tag-red {
    background: #cb2d3e;
    background: -webkit-gradient(linear, left top, left bottom, from(#ef473a), to(#cb2d3e));
    background: -o-linear-gradient(top, #ef473a, #cb2d3e);
    background: linear-gradient(to bottom, #ef473a, #cb2d3e);
    color: #fafafa;
}

.card__body h4 {
    font-size: 1.5rem;
    text-transform: capitalize;
    color: grey;
}
  
.card__footer {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    padding: 1rem;
    margin-top: auto;
    color: grey;
}
  
.user {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    gap: .5rem;
}
  
.user__image {
    max-width: 20%;
    border-radius: 50%;
}
  
.user__info > small {
    color: #666;
}