@import url('https://fonts.googleapis.com/css2?family=Dancing+Script&display=swap');


body {
    font-family: 'Comic Neue', cursive;
    background-color: black;
    color: white;
}

.hero {
    width: 100%;
    overflow: hidden;
}

.slogan {
    color: white;
}

.tattooposts {
    display: flex;
    flex-direction: column;    
    justify-content: center;
    text-align: center;
}

.post {
    display: flex;
    justify-content: center;
}

.card-text {
    text-align: center;
    display: block;
    text-decoration: none;
    color: white;
    font-family: 'Comic Neue', cursive
}

.my-profile {
    position: absolute;
    float: right;
}
.card {
    background-color: black;
    width: 18rem;
    padding-right: 50px;
}
.card img {
    width: 100%;
    object-fit: contain;
}

.wrapper {
    font-family: 'Comic Neue', cursive;
    max-width: 100%;
    margin: 0 auto;
}

.header{
    font-family: 'Dancing Script', cursive;
}

.homepage-text {
    font-family: 'Comic Neue', cursive;
    font-size: 10px;
    margin-top: 20px;
    margin-bottom: 20px;
}

.line {
    border: red 20px;
}

.centeralign {
    font-family: 'Dancing Script', cursive;
    width: 100%;
    margin-top: 20px;
    text-align: center;
    font-size: 30px;
}

.individual-card {
    clear: both;
    line-height: 0px;
    column-count:4;
    column-gap: 0px;
}

.footer {
    text-align: center;
    width: 100%;
    display: flex;
}

.footer > li {
    align-items: center;
    justify-content: center;
}
