@import url('https://fonts.googleapis.com/css2?family=Dancing+Script&display=swap');


body {
    font-family: 'Comic Neue', cursive;
    color: white;
    background-color: slategray;
}

.hero {
    width: 100%;
    overflow: hidden;
}

.slogan {
    color: white;
}

.tattooposts {
    display: flex;
    flex-direction: column;    
    justify-content: center;
    text-align: center;
}
/* profile styles */

.profile-text {
    display: flex;
    flex-direction: column;    
    justify-content: center;
    text-align: center;
}

.account_image {
    margin-top: 20px;
    margin-bottom: 20px;
}

.img-thumbnail {
    max-width: 25%;
}

.profile-image {
    width: 20%;
    margin-left: auto;
    margin-right: auto;
    display: block;
}




.my-profile {
    position: absolute;
    float: right;
}

.media-body {
    margin-top: px;
}


.asteriskField {
    display: none;
}

#hint_id_username {
    display: none;
}

#hint_id_password2 {
    display: none;
}

.create-a-post {
    color:slategray;
    border: 2px;
    text-decoration: none;

}

.text-muted1 {
    color: white;
    text-decoration: none;
}

.signup li {
    color: white;
}

.wrapper {
    font-family: 'Comic Neue', cursive;
    max-width: 100%;
    margin: 0 auto;
}

.header{
    font-family: 'Dancing Script', cursive;
}

.homepage-text {
    font-family: 'Comic Neue', cursive;
    margin-top: 20px;
    margin-bottom: 20px;
}

.line {
    border: red 20px;
}

.centeralign {
    font-family: 'Dancing Script', cursive;
    width: 100%;
    margin-top: 20px;
    text-align: center;
}


.footer {
    text-align: center;
    width: 100%;
    display: flex;
    color:rgb(138, 151, 163);
}

.footer > li {
    align-items: center;
    justify-content: center;
}


.post {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 1rem;
}

.container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    max-width: 1200px;
    margin-block: 2rem;
    gap: 2rem;
}
  
img {
    object-fit: cover;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.add-art {
    width:100%;
    text-decoration: none;
    color: white;
    text-align: center;
}
  
.card {
    display: flex;
    flex-direction: column;
    width: clamp(20rem, calc(20rem + 2vw), 22rem);
    overflow: hidden;
    box-shadow: 0 .1rem 1rem rgba(0, 0, 0, 0.1);
    border-radius: 1em;
    background: #ECE9E6;
    background: linear-gradient(to right, #FFFFFF, #ECE9E6);
    max-height: 500px;
  }
  
.card__header {
    height: 50%;
}
  
.card__body {
    padding: 1rem;
    display: flex;
    flex-direction: column;
    gap: .5rem;
    color: grey;
    overflow: hidden;
}
  
.card-image {
    max-width: 100%;
    height: 100%;
    justify-content: center;
    display: flex;
}  

.tag {
    align-self: flex-start;
    padding: .25em .75em;
    border-radius: 1em;
    font-size: .75rem;
}
  
.tag + .tag {
    margin-left: .5em;
}
  
.tag-blue {
    background: #56CCF2;
    background: linear-gradient(to bottom, #2F80ED, #56CCF2);
    color: #fafafa;
}
  
.tag-brown {
    background: #D1913C;
    background: linear-gradient(to bottom, #FFD194, #D1913C);
    color: #fafafa;
}
  
.tag-red {
    background: #cb2d3e;
    background: linear-gradient(to bottom, #ef473a, #cb2d3e);
    color: #fafafa;
}

.card__body h4 {
    font-size: 1.5rem;
    text-transform: capitalize;
    color: grey;
}
  
.card__footer {
    display: flex;
    padding: 1rem;
    margin-top: auto;
    color: grey;
}
  
.user {
    display: flex;
    gap: .5rem;
}
  
.user__image {
    max-width: 20%;
    border-radius: 50%;
}
  
.user__info > small {
    color: #666;
}