{% extends 'base.html' %}
{% load crispy_forms_tags %}
{% load cloudinary %}


{% block content %}
<div class="content-section">
    <form method="POST" enctype="multipart/form-data">
        {% csrf_token %}
        <div class="form-group signup">
            {{ form|crispy }}
        </div>
        <div class="form-group">
            <button class="btn btn-dark" type="submit">Register</button>
        </div>
    </form>
    <div class="border-top pt-4">
        <small class="text-muted1">Already Registered With An Account?<a class="btn btn-info"
                href="{% url 'accounts:profile' %}">Sign In</a>
        </small>
    </div>
</div>

{% endblock %}