{% extends 'base.html' %}
{% load cloudinary %}


{% block content %}
    <img class="hero" src="https://res.cloudinary.com/dxsodecl1/image/upload/v1648652541/pexels-pixabay-279100_z5vnfr.jpg" alt="Hero image">
    

    <div class="mt-4">
        Established in 2022 Body Beauty is Chichester's Finest Tattoo Parlour.
        offer a professional tattoo service alongside great atmosphere. Supported with top-notch aftercare.
        award-winning artists that specialize in all styles
    </div>
    <img class="hero mt-4" src="https://res.cloudinary.com/dxsodecl1/image/upload/v1649771853/pexels-andrea-piacquadio-3930972_ejlpjw.jpg" alt="Hero image">
    <div class="mt-4">
        Tattooing is an art form that relies on focus, craftsmanship, and attention to detail. We promise nothing less to every person that we work with.
        A tattoo should be designed and tattooed to last; it should look great in 40 years. 
    </div>    
    <img class="hero mt-4" src="https://res.cloudinary.com/dxsodecl1/image/upload/v1649771583/about_zzqcik.jpg" alt="Hero image">
    <div class="mt-4">
        Whether it’s a bold color tattoo, custom lettering, or soft black and grey, we take pride in giving each person a safe, high-quality tattoo. We believe that it is important to constantly strive to better oneself as a tattooist, and to pull from every source we can to learn and move forward in giving people quality tattoos that last a lifetime.
        'We offer our customers a safe, friendly and relaxed vibe with hospital standard sterilization with top of the range ink products and needles. We are a custom parlour and like to tailor all our designs to all of our customers.’
        est 2014 Black Pearl is Chichester's Finest Tattoo and Piercing Parlour.
        we offer a professional Tattooing service alongside a great atmosphere. 
    </div>    
    <div class="mt-4">
        Plus top-notch aftercare. We off award-winning artists that specialize in all styles just head over to the gallery to see!
    </div>    
    <img class="hero mt-4" src="https://res.cloudinary.com/dxsodecl1/image/upload/v1649771878/pexels-lucas-guimar%C3%A3es-5131403_ynbade.jpg" alt="Hero image">

{% endblock %}