{% extends 'base.html' %}
{% load cloudinary %}

{% block content %}
<div>
    <h1 class="centeralign slogan mt-5">Welcome to Body Beauty, where the easel is your skin.</h1>
    <img class="hero" src="https://res.cloudinary.com/dxsodecl1/image/upload/v1647698631/slideshow2_hz6uv1.jpg" alt="Hero image">
</div>
<div class="homepage-text text-center">
  Welcome To the most renown tattoo shop on the south coast, where your body becomes the easel, to become the art.
  At Body Beauty we take great pride in our work, employing only the best of the best artists.
</div>
<div class="line"></div>
<div class="homepage-text text-center">
  Here we strive towards making your dreams and art come true. Leaving you with the best tattoos around.
</div>
{% endblock %}